# Java / Spring Boot
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

# Angular / Node / React Native
**/node_modules/
**/dist/
**/.expo/
**/.angular/

# IDE / OS
.DS_Store
**/.idea/
**/.vscode/
*.iml

**/.claude
*.CLAUDE.md